The game ended..

<h2>Actions</h2>
<div ng-repeat="action in actions">
  <div ng-switch="action.type">
    <div ng-switch-when="robber">
      <b>{{ action.who.name }}</b> stole <b>{{ action.to.name }}</b>'s <b>{{ action.to.startRole }}</b>
    </div>
    <div ng-switch-when="troublemaker">
      <b>{{ action.who.name }}</b> swapped <b>{{ action.from.name }}</b> and <b>{{ action.to.name }}</b>
    </div>
  </div>
</div>

<h2>Players</h2>
<div ng-repeat="player in currentGame.players">
  {{ player.name }}: {{ player.startRole }} -> {{ player.currentRole }}
</div>

<h2>Unclaimed roles</h2>
<div ng-repeat="role in currentGame.unclaimed track by $index">
  {{ role }}
</div>

<div class="btn btn-primary push-top" ng-click="joinGame()">Join Next Game</div>
